.header {
  display: flex;
  flex-direction: column;

  background: black;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

nav a {
  cursor: pointer;
}

@media (min-width: 600px) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
  }

  .logo,
  nav {
    margin: 0;
  }

  nav {
    gap: 1rem;
  }
}
