.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  background: white;

  font-weight: bold;
}

.logo {
  border-radius: 0.3rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}

nav {
  display: flex;
  gap: 0.5rem;
  margin-right: 1rem;
}

nav a {
  cursor: pointer;
}
